{% extends 'vish_app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
<div class="contactFull">
    <div class="container text-center" id="contactUsPage">
        {% if form %}
            <form method="POST">
            {% csrf_token %}
                <div class="row">
                    <div class="col-sm mt-5 text-center m-lg-2">
                        {{ form.name|as_crispy_field }}
                    </div>
                    <div class="col-sm mt-5 text-center m-lg-2">
                        {{ form.email|as_crispy_field }}
                    </div>
                    <div class="col-sm mt-5 text-center m-lg-2">
                        {{ form.number|as_crispy_field }}
                    </div>
                </div>
                <div class="col-sm text-center m-lg-2">
                    {{ form.message|as_crispy_field }}
                </div>
                <button type="submit" class="btn btn-outline-primary mt-3">Submit</button>
            </form>
        {% endif %}
    </div>
    <div class="container">
        <div id="contactInfo">
            <p>Fill out the form or contact us at: </p>
            <h4>Email: vish@grvinvestments.co.za <i class="fa fa-envelope" id="emailLogo" aria-hidden="true"></i></h4>
            <h4><i class="fa fa-phone" aria-hidden="true" id="phoneLogo"></i> +27 800 800 8000</h4>
            <h4>Follow Us On: <i class="fa fa-facebook-official" id="facebookLogo" aria-hidden="true"></i></h4>
            <h4>Whatsapp Us: <i class="fa fa-whatsapp" id="whatsappLogo" aria-hidden="true"></i></h4>
        </div>
    </div>
</div>
{% endblock body %}
