{% extends 'vish_app/base.html' %}
{% load static %}


{% block body %}
<div class="products container">
    <h1 class="text-center mb-3">Products</h1>
    <div class="row align-items-center">
        {% for product in products_list %}
            <div class="col-sm-4" id="product">
                <p class="text-center">{{ product.product_title }}</p>
                <img src="{{ product.product_image.url }}" alt="" width="100%">
                <p class="text-center">{{ product.product_price }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}
