/* Variables  */
:root {
    --night: #363062;
    --navy: #4D4C7D;
    --purple: #827397;
    --beige: #E9D5CA;
}

/* 
Design 
logomakr.com/app/554CKW */


#contactUsPage {
    margin-top: 5%;
}

#contactMessage {
    margin-top: 5%;
}