/* Variables  */
:root {
    --blue: #92B4EC;
    --white: #FFFFFF;
    --yellow: #FFE69A;
    --gold: #FFD24C
}

/* 
Design 
logomakr.com/app/554CKW */


a {
    text-decoration: none;
}

#contactUsPage {
    margin-top: 5%;
}

#contactMessage {
    margin-top: 5%;
}

#homePageProducts {
    border: var(--blue) solid 1px;
    border-radius: 10px;
}

#productLink, #productLink a, #productPrice, #productDetailTitle {
    background-color: var(--blue);
    color: var(--white);
    text-decoration: none;
    padding: 2%;
}
#productDescription {
    margin-left: 20%;
    margin-right: 20%;
}

#contactInfo {
    color: var(--blue);
}

#homePageText {
    margin-left: 10%;
    margin-right: 10%;
}

h1, h2, h3, h4, a {
    color: var(--gold);
}