/* Variables  */
:root {
    --blue: #92B4EC;
    --white: #FFFFFF;
    --yellow: #FFE69A;
    --gold: #FFD24C
}

/* 
Design 
logomakr.com/app/554CKW */


a {
    text-decoration: none;
}

#contactUsPage {
    margin-top: 5%;
}

#contactMessage {
    margin-top: 5%;
}

#homePageProducts {
    border: var(--blue) solid 1px;
    border-radius: 10px;
}

#productLink, #productLink a, #productPrice, #productDetailTitle {
    background-color: var(--blue);
    color: var(--white);
    text-decoration: none;
    padding: 2%;
}
#productDescription {
    margin-left: 20%;
    margin-right: 20%;
}

#homePageText {
    margin-left: 10%;
    margin-right: 10%;
}

h1, h2, h3, a {
    color: var(--gold);
}

@media screen and (max-width: 600px){
    #detailImage {
        width: 100%;
        height: 100%;
    }
    .navbar-nav a {
        color: var(--gold) !important;
        border-bottom: var(--gold) 3px solid;
    }
}

#product img {
    -webkit-filter: grayscale(80%);
    filter: 80%;
}

#product img:hover {
    -webkit-filter: grayscale(0%);
    filter: 0%;
}

.homePageFull {
    animation-name: homePageAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

.productListFull {
    animation-name: homePageAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

.detailListFull {
    animation-name: homePageAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

.contactFull {
    animation-name: homePageAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

@keyframes homePageAnimation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#whatsappLogo {
    color: #25D366 !important;
}

#emailLogo {
    color: var(--blue);
}

#phoneLogo {
    color: green;
}

#facebookLogo {
    color: #3B5998;
}

.navbar-nav a:hover {
    color: var(--gold) !important;
    border-bottom: var(--gold) 3px solid;
}